---
import "../../styles/global.css";
import { Image } from "astro:assets";

import { type CollectionEntry, getCollection, render } from "astro:content";
import Button from "../../components/Button.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ArrowLeft from "../../icons/ArrowLeft.astro";
import ArrowRight from "../../icons/ArrowRight.astro";
import siteConfig from "../../site.config";
import OptimizedImage from "../../components/OptimizedImage.astro";

export async function getStaticPaths() {
  const dessins = await getCollection("dessins");
  const dessinCount = dessins.length;
  return dessins.map((dessin, index) => ({
    params: { id: dessin.id },
    props: {
      dessin,
      prevPost: index + 1 !== dessinCount ? dessins[index + 1] : null,
      nextPost: index !== 0 ? dessins[index - 1] : null,
    },
  }));
}

type Props = {
  dessin: CollectionEntry<"dessins">;
  prevPost: CollectionEntry<"dessins">;
  nextPost: CollectionEntry<"dessins">;
};

const { dessin, prevPost, nextPost } = Astro.props;
const { title, pubDate, author, tags = [], image } = dessin.data;
const { Content } = await render(dessin);
---

<MainLayout pageTitle={siteConfig.title + " | " + title}>
  <div class="page-content">
    <h1 class="sigmar-ff text-center text-balance">{title}</h1>
   
    <!-- {
      image && image.url && (
        <Image class="mb-8 my-6" src={image?.url} alt={image?.alt || ""} />
      )
    } -->
       {
      image && image.url && (
        <OptimizedImage class="mb-8 my-6" src={image?.url} alt={image?.alt || ""} />
      )
    }
    <!-- <div class="font-light text-left">
      <Content />
    </div> -->
    <!-- <p class="kanit-regular text-center text-balance text-xs">
      Tagged: {
        tags.map((tag) => (
          <Button
            class="px-4! m-2"
            href={ ("/tags/" + createSlugFromTitle(tag))}
          >
            {tag}
          </Button>
        ))
      }
    </p> -->
    <div
      class="flex flex-col sm:flex-row items-center justify-center gap-4 my-8"
    >
      <Button class="back-link" href={ ("/dessins")}>
        <ArrowLeft class="w-5 h-5 fill-current mr-4" /> Retour vers Mes dessins
      </Button>
      {
        (prevPost || nextPost) && nextPost && (
          <Button
            class="back-link text-balance"
            href={ ("/dessins/" + nextPost.id)}
          >
            Next Post: {nextPost.data.title}{" "}
            <ArrowRight class="w-5 h-5 fill-current ml-4" />
          </Button>
        )
      }
    </div>
  </div>
</MainLayout>
